<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-row style="margin:-5px;">
      <ion-col col-12>
          <img src="../../assets/imgs/enem-2017.png" alt="" style="width:100%;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
      </ion-col>
      <ion-col col-12>
        <ion-card style="margin-top:-50px;">
          <ion-card-header text-center color="green">
            CONTEUDOS DAS PROVAS DA EEEP
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card style="box-shadow: none;">

          <ion-row class="ion-row-iv">
            <!-- Linguagens -->
            <ion-col col-3 text-center class="ion-col-iv" (click)="itemLinguagens($event, item)">
              <h1 *ngFor="let lista of conteudos_literatura">{{lista.data_materia}}</h1><p style="color:#3a9f81;" *ngFor="let lista of conteudos_literatura"> {{lista.mes_materia}}</p>
            </ion-col>
            <ion-col col-7 class="ion-col-iv-2" (click)="itemLinguagens($event, item)">
              Linguagens <hr> <p><em>13:00h</em></p>
            </ion-col>
            <ion-col col-2 (click)="itemLinguagens($event, item)">
              <h1 text-right class="ion-col-iv-3"><ion-icon name="ios-arrow-dropright"></ion-icon></h1>
            </ion-col>
          </ion-row>

          <ion-row class="ion-row-iv">
            <!-- Exatas -->
            <ion-col col-3 text-center class="ion-col-iv" (click)="itemExatas($event, item)">
              <h1 *ngFor="let lista of conteudos_exatas">{{ lista.data_materia }}</h1><p style="color:#3a9f81;" *ngFor="let lista of conteudos_exatas"> {{lista.mes_materia}}</p>
            </ion-col>
            <ion-col col-7 class="ion-col-iv-2" (click)="itemExatas($event, item)">
              Exatas <hr> <p><em>13:00h</em></p>
            </ion-col>
            <ion-col col-2 (click)="itemExatas($event, item)">
              <h1 text-right class="ion-col-iv-3"><ion-icon name="ios-arrow-dropright"></ion-icon></h1>
            </ion-col>
          </ion-row>
 
          <ion-row class="ion-row-iv">
            <!-- Humanas -->
            <ion-col col-3 text-center class="ion-col-iv" (click)="itemHumanas($event, item)">
              <h1 *ngFor="let lista of conteudos_humanas">{{ lista.data_materia }}</h1><p style="color:#3a9f81;" *ngFor="let lista of conteudos_humanas"> {{lista.mes_materia}}</p>
            </ion-col>
            <ion-col col-7 class="ion-col-iv-2" (click)="itemHumanas($event, item)">
              Humanas <hr> <p><em>13:00h</em></p>
            </ion-col>
            <ion-col col-2 (click)="itemHumanas($event, item)">
              <h1 text-right class="ion-col-iv-3"><ion-icon name="ios-arrow-dropright"></ion-icon></h1>
            </ion-col>
            
          </ion-row>
    </ion-card>

</ion-content>